.AddQuestion{
    margin-top: 40px;
    padding: 10px;
    width:1000px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 6px black;
    border-radius: 5px;
    transition: 1s;
    overflow: hidden;
    position: relative;
    h2{
        width:90%;
        text-align: center;
        margin: 10px auto;
    }
    .two{
        display: flex;
        flex-direction: row;
        align-items: center;
        width:94%;
        margin: 14px auto;
        h4{
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        input{
            width: 200px;
        }
        input[type="radio"]{
            width: fit-content;
            margin-left: -2px;
            margin-right: 10px;
        }
    }
    .radio{
        display: flex;
        flex-direction: row;
        width: 94%;
        margin: 0px auto;
        h4{
            margin: 0;
            font-size: 14px;
        }
        input{
            margin-left: 20px;
        }
    }
    .Button_Add{
        width:fit-content;
        height: fit-content;
        margin-left: 3%;
        margin-top: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.4s;
        p{
            margin: 0;
            padding: 0;
            font-size: 24px;
        }
    }

    .Button_Add:hover{
        transform: scale(1.05);
    }

    .Arrow_Open{
        width:50px;
        height: 50px;
        position: absolute;
        top:10px;
        right:40px;
        transition: 0.5s;
    }   

    .Arrow_Open:hover{
        transform: scale(1.05);
        cursor: pointer;
    }

    .op_ar{
        transform: rotate(90deg);
    }

    .cl_ar{
        transform: rotate(270deg);
    }
}

.AQclosed{
    max-height: 50px;
}